{% extends "base.html" %}

{% load humanize %}

{% block main_content %}

    <div class="row">
        <div class="col-md-6">
            <h2 class="breadcrumbs">
                {% for bc in breadcrumbs %}
                    {% if bc.path %}
                        <a href="{{ bc.path }}?mode={{ mode }}">{{ bc.name }} /</a>
                    {% else %}
                        <span class="here">{{ bc.name }}</span>
                    {% endif %}
                {% endfor %}
                &nbsp;
                <span class="badge">{{ index.files|length|intcomma }} file{{ index.files|length|pluralize }}</span>
            </h2>
        </div>
        <div class="col-md-6">
            <div class="directory-actions">
                {# <a href="/refresh/{{ path }}?mode={{ mode }}" class="btn btn-default">Refresh</a> #}
                <div class="btn-group select-false">
                    <a href="?mode=grid" class="btn btn-success {% if mode = "grid" %}active{% endif %}">Grid</a>
                    <a href="?mode=list" class="btn btn-success {% if mode = "list" %}active{% endif %}">List</a>
                </div>
                <a class="btn btn-danger delete-btn select-true">Delete</a>
                <a class="btn btn-primary cut-btn select-true">Cut</a>
                <a class="btn btn-primary copy-btn select-true">Copy</a>
                <a class="btn btn-primary paste-btn">Paste</a>
            </div>
        </div>            
    </div>

    {% if mode = "list" %}
        {% include "directory_list.html" %}
    {% else %}
        {% include "directory_grid.html" %}
    {% endif %}

    <br><br>
    
    <script>
        init_event_handlers();
    </script>

{% endblock %}
