{% extends "base.html" %}

{% load humanize %}

{% block main_content %}

    <div class="row">
        <div class="col-md-6">
            <h2>
                {{ parts|last }} 
                <span class="badge">{{ index.files|length|intcomma }} file{{ index.files|length|pluralize }}</span>
            </h2>
        </div>
        <div class="col-md-6">
            <div class="btn-group" id="directory_display">
                <a href="?mode=list" class="btn btn-primary {% if mode = "list" %}active{% endif %}">List</a>
                <a href="?mode=grid" class="btn btn-primary {% if mode = "grid" %}active{% endif %}">Grid</a>
            </div>
        </div>            
    </div>

    {% if mode = "list" %}
        {% include "directory_list.html" %}
    {% else %}
        {% include "directory_grid.html" %}
    {% endif %}

{% endblock %}
