<section id="directory">

<div class="row image-grid-row">
{% for name, info in sorted_all %}
    <div class="col-xs-3">
        {% if info.type == "directory" %}
            <div class="item" data-url="{{ name|urlencode }}/?mode={{ mode }}">
                <div class="img-responsive"><img src="/static/images/folder-256.png"></div>
                {{ name }}
            </div>
        {% else %}
            <div class="item" data-url="/media/{{ path|urlencode }}{{ name|urlencode }}">
                <img class="img-responsive" src="{{ thumbor_server }}/unsafe/262x196/{{ path|urlencode }}{{ name|urlencode }}">
                {% if "video" in info.type %}
                    <img src="/static/images/start-64.png" class="video_overlay">
                {% endif %}
                {{ name }}
            </div>
        {% endif %}
    </div>
    {% if forloop.counter|divisibleby:"4" %}
        </div><div class="row image-grid-row">
    {% endif %}
{% endfor %}
</div>

</section>