backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
certifi==2015.9.6.2
derpconf==0.7.3
Django==1.8.6
django-bootstrap3==6.2.2
django-thumbor==0.5
futures==3.0.3
libthumbor==1.2.0
pexif==0.15
Pillow==2.9.0
pycrypto==2.6.1
pycurl==7.19.5.3
python-magic==0.4.10
singledispatch==3.4.0.3
six==1.10.0
statsd==3.2.1
thumbor==5.2.1
tornado==4.3
