body {
    padding-top: 70px;
    font-size: 18px;
    overflow-y: scroll;
}

.navbar-brand {
    padding: 5px 15px;
}

.breadcrumbs {
    font-size: 22px;
}

.breadcrumbs .here {
    font-size: 26px;
    font-weight: bold;
}

#directory {
    table-layout: fixed;
}

#directory .item {
    color: #fff;
}

#directory .item:hover {
    color: #0CE3AC;
}

#directory .image {
    display: inline-block;
    width: 80px;
    text-align: center;
    margin-right: 10px;
}

#directory .row {
    margin-bottom: 10px;
    line-height: 60px;
}

.directory-actions {
    float: right;
    margin-top: 20px;
}

.directory-actions .btn {
    margin-left: 10px;
}

.select-true {
    display: none;
}

.image-grid-row .item {
    border: 1px solid #666;
    border-radius: 4px;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 30px;
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.image-grid-row .item:hover {
    color: #0CE3AC;
}

.image-grid-row .item.selected {
    box-shadow: 0 0 5px #0ff;
}

.image-grid-row .img-responsive {
    max-height: 196px;
}

.image-grid-row img {
    max-height: 196px;
    border-radius: 4px 4px 0 0;
}

.image-grid-row div.img-responsive > img {
    width: 75%;
}

.video_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
}

#directory .video_overlay {
    height: 100%;
    left: 8px;
}

@media (max-width: 1200px) {
    .image-grid-row .item {
        font-size: 1.5vw;
    }
}
