body {
    padding-top: 70px;
    font-size: 18px;
    overflow-y: scroll;
}

.navbar-brand {
    padding: 5px 15px;
}

#directory {
    table-layout: fixed;
}

#directory a {
    display: block;
    text-decoration: none;
    color: #fff;
}

#directory a:hover {
    color: #0CE3AC;
}

#directory .image {
    display: inline-block;
    width: 80px;
    text-align: center;
    margin-right: 10px;
}

#directory .row {
    margin-bottom: 10px;
    line-height: 60px;
}

.directory-actions {
    float: right;
    margin-top: 20px;
}

.image-grid-row a {
    border: 1px solid #666;
    border-radius: 4px;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 30px;
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image-grid-row a:hover {
    color: #0CE3AC;
}

.image-grid-row .img-responsive {
    max-height: 196px;
}

.image-grid-row img {
    max-height: 196px;
    border-radius: 4px 4px 0 0;
}

.image-grid-row div.img-responsive > img {
    width: 75%;
}

@media (max-width: 1200px) {
    .image-grid-row a {
        font-size: 1.5vw;
    }
}
